.copyright {
  padding: 8px 0px;
  margin-bottom: 15px;
  color: #b6b4b4;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  a {
    color: #67C23A;
  }
  ul {
    padding-right: 20px;
  }
}