
.post-box {
  padding: 1rem 4.5rem 2rem;
  @media screen and (max-width: 750px) {
    padding: 1rem
  }

  .search-box {
    height: 45px;
    margin: 2rem auto;

    input {
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border: 1px solid #EEEEEE;
      border-radius: 40px;
      outline-color: pink;
      outline-width: 1px;
      padding: 0 1rem;

      &::placeholder {
        opacity: .5;
      }
    }
  }
}

.menu-list {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;

  li {
    padding: 6px 20px;
    background-color: #f3f3f3;
    margin: 0 .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    transition: all .2s linear;
    cursor: pointer;
    list-style: none;


  }
}

.post-list {
  margin: 1rem auto;

  .post-item {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: .7;
    transition: all .3s linear;
    margin: 0 auto 3.5rem;

    &:hover {
      opacity: 1;

      img {
        filter: brightness(1.1);
      }
    }

    .blog-header {
      width: 68%;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: bold;
      }

      p {
        font-size: 1.1rem;
      }

      .blog-tip {
        padding: 5px 0;
        font-size: 1rem;
        color: #a1a0a0;
        display: flex;
        justify-content: left;
        align-items: center;

        span {
          padding-right: 1rem;
          line-height: 2rem;
        }
      }
    }

    .blog-cover {
      width: 30%;
      max-height: 160px;
      //width: 260px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s linear;
        //box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 35px 1px rgba(0, 0, 50, 0.2);
      }
    }

    @media screen and (max-width: 750px) {
      .blog-header {
        width: 100%;
      }
      .blog-cover {
        display: none;
      }
    }
  }
}
