.post-detail {
  padding: 2.5rem;
  //max-width: 1000px;
  margin: auto;
  color: inherit;
  font-family: inherit;
  @media screen and (max-width: 750px) {
    padding: 1rem
  }
  hr {
    margin: 10px auto;
    border: 0;
    border-top: 1px dashed #e3e3e3;
    background-image: none;
  }

  img {
    max-width: 100%;
  }

  .post-detail-header {
    //text-align: center;
    margin-bottom: 3rem;
    font-family: inherit;

    h2 {
      font-size: 2rem;
      font-family: inherit;
      font-weight: bolder;
      color: inherit;
    }

    .tip {
      color: #909399;
      font-size: .9rem;
      letter-spacing: .8px;
    }
  }

  .post-detail-body {
    font-size: 1.3rem;
    color: inherit;
    letter-spacing: 1px;
    font-family: inherit;
  }

  .reship {
    width: 100%;
    min-height: 120px;
    background-color: #000000;
    position: relative;
    margin: 3rem auto;
    box-sizing: border-box;
    padding: 2rem;
    color: #dcdcdc;

    &:before {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      border: 10px solid transparent;
      border-bottom-color: #000000;
    }
  }
}


