@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #f54836;
  background-image: -webkit-linear-gradient(
                  45deg,
                  rgba(255, 255, 255, 0.2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, 0.2) 50%,
                  rgba(255, 255, 255, 0.2) 75%,
                  transparent 75%,
                  transparent
  );
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

html, body {
  //滚动更丝滑
  scroll-behavior: smooth;
  box-sizing: border-box;
}


.app {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: '宋体';
  background-color: #fff;
  color: #2a2a2a;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .app-aside {
    width: 35%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .aside-wrap {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-image: url(http://www.zhouyi.run:3089/v1/common/files/preview/img/03.jpg);
      background-color: rgba(0, 0, 0, 1);
      //background-image: url(https://blogcdn.dandyweng.com/backgrounds/08.jpg);
      background-repeat: no-repeat;
      transform-style: preserve-3d;
      background-position: center -30px;
      transition: background-image 2s ease-in-out;
      will-change: transition;

      .aside-mask {
        background-color: #00000080;
        height: 100%;
        width: 100%;
      }
      .aside-wrap-info {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;

        .info-avatar {
          border-radius: 100%;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0px 2px 20px 3px rgba(0, 0, 0, 0.25);
          background-color: rgba(#fff,.2);
          width: 8rem;
          height: 8rem;
          display: inline-block;
          object-fit: cover;
          margin-bottom: 2rem;
          mix-blend-mode: color;
        }

        .info-title {
          font-size: 3rem;
          line-height: 1;

          font-family: "plantc", "Source Han Serif", serif;
          letter-spacing: 2px;
          margin-bottom: 1rem;
        }

        .info-title-sub {
          font-size: 1rem;
          text-align: center;
        }

        .info-icon-list {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .iconfont {
            font-size: 1rem;
            border: 1px solid #eeeeee;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            color: #ffffff;
            cursor: pointer;
            transition: all .3s linear;

            &:hover {
              color: #f3f3f3;
              border: 1px solid #f3f3f3;
            }
          }
        }
      }
      .marquee-scroll {
        width: 100%;
        position: fixed;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        letter-spacing: 1px;

      }
      .copyright {
        font-family: sans-serif;
        position: fixed;
        bottom: 1rem;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
        font-size: 12px;
        letter-spacing: 1px;
        color: #EEEEEE;
      }
    }

  }

  .app-main {
    width: 65%;
    margin-left: 35%;
    height: 100%;
    //网格背景
    //background-image: linear-gradient(rgba(232, 232, 232, 0.3) 1px, transparent 0),
    //linear-gradient(90deg, rgba(238, 238, 238, 0.3) 1px, transparent 0);
    //background-size: 10px 10px, 10px 10px;
  }

  @media screen and (max-width: 968px) {
    flex-direction: column;

    .app-aside {
      height: 300px;
      width: 100%;
      position: relative;
      .info-avatar {
        width: 6rem!important;
        height: 6rem!important;
      }
      .copyright,.marquee-scroll,.icon-24gl-expand2 {
        display: none;
      }
    }

    .app-main {
      width: 100%;
      margin:  0;
    }
  }


}
