.post-list {
  box-sizing: border-box;
  //padding-top: 15px;
  .home-post-class {
    background: #00d2ff;
    background: -webkit-linear-gradient(to right,#fff, rgba(165, 161, 187, 0.84),rgba(151, 218, 238, 0.83),#fff);
    background: linear-gradient(to right,#fff, rgba(165, 161, 187, 0.84),rgba(151, 218, 238, 0.83),#fff);

    .home-post-h {
      line-height: 48px;
      padding-left: 15px;
      font-family: TwitterChirpExtendedHeavy;
    }
  }
  .home-notice {
    padding: 10px;
  }

  .post-item {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    margin-top: 1px;
    cursor: auto;
    transition: all .2s linear;
    transition-property: background-color, box-shadow;
    animation: one-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    .item-left {
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #eee;
        margin: 8px;
      }
    }

    .item-body {
      box-sizing: border-box;
      padding: 5px;
      //background-color: #f3f3f3;
      width: calc(100% - 65px);
      border-radius: 8px;
      word-break: break-all;

      .body-header {
        font-size: 13px;
        color: rgb(83, 100, 113);
        overflow-wrap: break-word;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .author {
          font-family: TwitterChirpExtendedHeavy;
          font-weight: bold;
        }

        .more {
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: red;
          }
        }
      }
      .body-post {
        padding: 5px;
        cursor: pointer;
        .post-title {
          font-size: 16px;
          color: rgb(40, 51, 59);
          overflow-wrap: break-word;
          font-weight: 600;
          border-bottom: 1px dashed #eee;
          padding: 10px 0px;
        }
        .post-content {
          padding-top: 10px;
          padding-bottom: 25px;
          font-size: 13px;
          color: rgb(40, 51, 59);
          overflow-wrap: break-word;
        }
      }

      .body-opt {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .opt-item {
          font-size: 13px;
          cursor: pointer;

          &:hover {
            color: #d53e3e;
          }
        }
      }
    }
  }
}

@keyframes one-in {
  from {
    padding-top: 100px;
    height: 0%;
  }
  to {
    padding-top: 0px;
    height: 100%;
  }
}